<mat-card>
    <mat-card-header>
        <mat-card-title>{{'feed.statistic.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p *ngIf="feedsNumber">{{'feed.statistic.feedsNumber' | translate }}: {{feedsNumber}}</p>
        <p *ngIf="itemsNumber">{{'feed.statistic.itemsNumber' | translate }}: {{itemsNumber}}</p>
        <p *ngIf="authorsNumber">{{'feed.statistic.authorNumber' | translate }}: {{authorsNumber}}</p>
        <amexio-d3-chart-pie
            *ngIf="chartData"
            [label]="false"
            [legend]="false"
            [data]="chartData">
        </amexio-d3-chart-pie>
    </mat-card-content>
</mat-card>
