<mat-card>
    <mat-card-header>
      <mat-card-title>{{'feed.channel.items' | translate }}</mat-card-title>
      <mat-checkbox [(ngModel)]="isnotReaded">{{'feed.checkbox.notReaded' | translate }}</mat-checkbox>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-selection-list class="feed-list channel-items">
            <mat-list-option
              *ngFor="let item of _feedService.feedItems | async | notReaded:isnotReaded"
              [ngClass]="{active: item.titlehash==titlehash}"
              (click)="onRowClick(item)">
              <div class="item-title" innerHTML={{item.title}}>{{item.title}}</div>
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
</mat-card>
