<amexio-layout-grid [layout]="'LayoutRssReader'">
  <amexio-grid-item [name]="'gridheader'">
    <mat-toolbar class="navbar">
        <div>{{title}}</div>
        <div>
          <span>111</span>
          <span>222</span>
          <span>333</span>
        </div>
    </mat-toolbar>
  </amexio-grid-item>

  <amexio-grid-item [name]="'gridchannels'">
      <mat-card>
          <mat-card-header>
            <mat-card-title>Feed List</mat-card-title>
            <div>
                <input matInput placeholder="Feed Title" name="feedTitle" [(ngModel)]="feedTitle">
                <input matInput placeholder="Feed Url" name="feedUrl" [(ngModel)]="feedUrl">
              <button mat-button (click)="addFeedUrl(feedTitle, feedUrl)">ADD</button>
            </div>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
              <mat-selection-list class="feed-list">
                  <mat-list-option
                    *ngFor="let feed of localFeeds"
                    [ngClass]="{active: feed.slug==slug}"
                    (click)="onRowClick(feed)">
                    <div class="feed-title">{{feed.title}}</div>
                    <div class="feed-url">{{feed.url}}</div>
                    <div class="feed-type">{{feed.feed}}</div>
                  </mat-list-option>
              </mat-selection-list>
          </mat-card-content>
      </mat-card>
  </amexio-grid-item>
  <amexio-grid-item [name]="'griditems'">
    <router-outlet  name="items"></router-outlet>
  </amexio-grid-item>
  <amexio-grid-item [name]="'griditem'">
    <router-outlet  name="itemInfo"></router-outlet>
  </amexio-grid-item>
  <amexio-grid-item [name]="'gridstatistic'">
    <router-outlet  name="itemStatistic"></router-outlet>
  </amexio-grid-item>
</amexio-layout-grid>
