<amexio-layout-grid [layout]="'LayoutRssReader'">
  <amexio-grid-item [name]="'gridheader'">
    <mat-toolbar class="navbar">
        <div>{{'app.title' | translate }}</div>
        <div>
           <mat-form-field>
              <mat-select [(ngModel)]="selectedLanguage" (ngModelChange)="selectLanguage()">
                <mat-option *ngFor="let lang of languages" [value]="lang.key">
                    {{lang.value}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
    </mat-toolbar>
  </amexio-grid-item>

  <amexio-grid-item [name]="'gridchannels'">
      <mat-card>
          <mat-card-header>
            <mat-card-title>{{'feed.list' | translate }}</mat-card-title>
            <div class="add-feed-url">
                <input matInput placeholder="{{'feed.placeholder.feedTitle' | translate }}" name="feedTitle" [(ngModel)]="feedTitle">
                <input matInput placeholder="{{'feed.placeholder.feedUrl' | translate }}" name="feedUrl" [(ngModel)]="feedUrl">
                <button mat-button (click)="addFeedUrl(feedTitle, feedUrl)">
                    {{'feed.btn.add' | translate }}
                </button>
            </div>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
              <mat-selection-list class="feed-list">
                  <mat-list-option
                    *ngFor="let feed of _feedService.localFeeds | async"
                    [ngClass]="{active: feed.slug==slug}"
                    (click)="onRowClick(feed)">
                    <div class="feed-title">{{feed.title}}</div>
                    <div class="feed-url">{{feed.url}}</div>
                    <div class="feed-type">{{feed.feed}}</div>
                  </mat-list-option>
              </mat-selection-list>
          </mat-card-content>
      </mat-card>
  </amexio-grid-item>
  <amexio-grid-item [name]="'griditems'">
    <router-outlet  name="items"></router-outlet>
  </amexio-grid-item>
  <amexio-grid-item [name]="'griditem'">
    <router-outlet  name="itemInfo"></router-outlet>
  </amexio-grid-item>
  <amexio-grid-item [name]="'gridstatistic'">
    <router-outlet  name="itemStatistic"></router-outlet>
  </amexio-grid-item>
</amexio-layout-grid>
